/* body{
        background-color: #1c5e90;
} */

.navbar {
        margin-top: 30px;
        overflow: hidden;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        height: 75px;
        top: 0;
        width: 100%;
        z-index: 1;

      }

.navbar ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
}

.navbar a {
        margin-top: 15px;
        position: relative;
        float: left;  
        color: #f2f2f2;
        text-align: center;
        padding: 8px 20px;
        text-decoration: none;
        font-size: 18px;
      }

.navbar a:hover {
  background-color: #392a2a;
  color: black;
}

.navbar a.active {
  background-color: #90a492;
  color: white;
}

.blog{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        height: 350px;
        position: relative;
        left: 50%;
        z-index: 5;
        background-color: #90a492;
        border-radius: 25px;
        padding: 20px;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
}

.blog-header{
        padding : 20px;
}

.blog-body{
        padding : 20px;
}

.blog-footer{
        margin-top: 50px;
}

button{
        margin: 5px;
}



img {
        float: right;
        margin-right: 15px;
}

.material-icons :hover{
        animation: pulse 0.5s infinite;
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
