

h1{
  background-color: blue;
  position: relative;
  width: 250%;
  right : 70px;
  float : center;
  text-align: center;
 font-style: normal;
 font-family: fantasy;
 font-size: 300%;
 }

div{
  align-items: center;
}