body { 
  background-color:rgb(39, 57, 194);
          
}


h1{
  position: absolute;
  position: relative;
  left: 84%;
  margin-top: 90px;
 font-style: normal;
 font-family: fantasy;
 font-size: 300%;
 }

div{
  align-items: center;
}